<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Agregar Pedido</span>
          <form class="mt-3" [formGroup]="pedidoForm" (ngSubmit)="agregarPedido()">
            <div class="mb-3">
              <input type="text" formControlName="Cliente" class="form-control form-control-lg" placeholder="Cliente">
              <div class="text-danger"
                *ngIf="pedidoForm.get('Cliente')?.hasError('required') && pedidoForm.get('Cliente')?.touched">
                <span>El nombre del cliente<strong>es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input type="text" formControlName="Estado" class="form-control form-control-lg" placeholder="Estado">
              <div class="text-danger"
                *ngIf="pedidoForm.get('Estado')?.hasError('required') && pedidoForm.get('Estado')?.touched">
                <span>El nombre del cliente<strong>es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input type="text" formControlName="Condicion" class="form-control form-control-lg" placeholder="Condicion">
              <div class="text-danger"
                *ngIf="pedidoForm.get('Condicion')?.hasError('required') && pedidoForm.get('Condicion')?.touched">
                <span>El nombre del cliente<strong>es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <input type="number" formControlName="PrecioTotal" class="form-control form-control-lg" placeholder="Precio Total">
              <div class="text-danger"
                *ngIf="pedidoForm.get('PrecioTotal')?.hasError('required') && pedidoForm.get('PrecioTotal')?.touched">
                <span>El nombre del cliente<strong>es obligatorio</strong></span>
              </div>
            </div>
            <div class="mb-3">
              <button routerLink="/Listar-Pedidos" class="btn btn-secondary btn-lg float-start">Volver</button>
              <button type="submit" [disabled]="pedidoForm.invalid" class="btn btn-secondary btn-lg float-end">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="https://i.pinimg.com/originals/f8/9f/28/f89f2883988dabf8326721d8ae9807ed.png" alt="" width="70" height="58" class="d-inline-block align-text-center">
      BELU
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/Almacen" routerLinkActive="active">Almacen</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Trabajadores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/Agregar-Empleado">Agregar</a></li>
            <li><a class="dropdown-item" routerLink="/Ver-Empleado">Ver</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-listar-pedidos *ngFor="let pedido of ListaPedidos index as i" [pedidoLista]="pedido" [indice]="i"
(click)="editar(i)" (dblclick)="eliminar(i)"></app-listar-pedidos>

<div class= "container">
  <div class= "row">
    <div class="col-md-8 mt-4">
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
             Insertar Nuevo Empleado
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="Nombre" aria-describedby="nombreHelp" [(ngModel)]="pedido.Cliente" placeholder="Ingresa el Nombre del cliente">
          </div>
          <div class="form-group mt-2">
            <input type="text" class="form-control" id="Apellido" aria-describedby="nombreHelp" [(ngModel)]="pedido.Estado" placeholder="Ingresa el Estado del pedido">
          </div>
          <div class="form-group mt-2">
            <input type="text" class="form-control" id="Edad" aria-describedby="nombreHelp" [(ngModel)]="pedido.Condicion" placeholder="Ingresa la condicion del pedido">
          </div>
          <div class="form-group mt-2">
            <input type="text" class="form-control" id="Usuario" aria-describedby="nombreHelp" [(ngModel)]="pedido.PrecioTotal" placeholder="Ingresa el precio total del pedido">
          </div>
          <div class="mt-2">
            <button *ngIf="!esEdicion" (click)="Agregar()" class="btn btn-primary" >
              Agregar
            </button>
            <button *ngIf="esEdicion" (click)="AceptarEdicion()" class="btn btn-primary" >
              Editar
            </button>
          </div>
         </div>
        </div>
      </div>
    <div class="col-md-4">
      <img width="300" src="https://img.freepik.com/vector-gratis/coleccion-trabajadores-supermercados_52683-37599.jpg?w=2000" alt="">
    </div>
  </div>
</div>
